body>section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A9A9A9;
}

section>div{
    width: 12vw;
    height: 6vh;
    background-color: white;
}

